
/*  styles  */

.login {
  position:relative;
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
  max-width: 360px;
  margin: 7% auto;
}

.login header.title {
 	position: relative;
 	width:100%;
 	font-size: 0.8em;
 	text-align: center;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #d2d6de;
  margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.gg-log-off {
    box-sizing: border-box;
    position: relative;
    display: block;
    border-radius: 16px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border-top: 2px solid transparent
}
.gg-log-off::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 8px;
    width: 2px;
    background: currentColor;
    left: 5px;
    bottom: 6px
}

.logout {
  display: inline-block;
  position: absolute;
  top:10px;
  right:10px;
}

/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow-y: auto;

  /* non-critical appearance styles */
  list-style: none;
  background: #111;
  color:whitesmoke;
  text-transform: uppercase;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  /* non-critical apperance styles */
  padding: 4em;
  background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);
  background-size: 200%;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

/* Micro reset */
*,*:before,*:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}


body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow: hidden;
}


*,
*:active,
*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
}


a,
a:hover,
a:active,
a:focus,
a:visited,
a:target {
  color: inherit !important;
  text-decoration: inherit !important;
}


h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Product sans', 'arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}





/*  import fonts  */

@font-face {
    font-family: 'Product sans';
    src: url('../fonts/product-sans/product-sans-regular.eot');
    src: url('../fonts/product-sans/product-sans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/product-sans/product-sans-regular.woff') format('woff'),
         url('../fonts/product-sans/product-sans-regular.ttf') format('truetype'),
         url('../fonts/product-sans/product-sans-regular.svg#product-sans-regular') format('svg');
    font-weight: normal;
    font-style: italic;
}




/*  universal styles  */

.flex {
  flex-wrap: auto;
  flex-flow: auto;
  display: -webkit-flex;
     display: -moz-flex;
      display: -ms-flex;
       display: -o-flex;
          display: flex;
}
.flex-h-start {
  justify-content: flex-start;
}
.flex-h-end {
  justify-content: flex-end;
}
.flex-h-center {
  justify-content: center;
}
.flex-v-center {
  align-items: center;
}
.flex-v-bottom {
  align-items: flex-end;
  flex: 1;
}


.no-user-select {
  cursor: default;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}






/*  main page  */


/*  container  */

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 1201px) {
  .container {
    width: 100%;
  }
}


.container-small {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 555px) {
  .container {
  	position:relative;
  	top:-1em;
  }
  .container-small {
    width: 100%;
  	position:relative;
  	top:-1em;
  }
}




/*  header  */

header.title {
  margin-top: 60px;
  margin-bottom: 70px;
}


header.title h1 {
  text-align: center;
  font-weight: normal;
  cursor: default;
  text-transform: capitalize;
}


@media (max-width: 555px) {
  header.title {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

@media (max-width: 460px) {
  header.title {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}




/*  album art  */


.album-art {
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 18px;
  background-color: #ddd;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0, 0.5);
}


.album-art img {
  min-width: 100%;
  min-height: 400px;
  max-height: 410px;
}


@media (max-width: 555px) {
  .album-art {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }

  .album-art img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-width: unset;
    min-height: 0;
    min-height: unset;
    max-height: 0;
    max-height: unset;
  }
}




/*  audio controls  */

.audio-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255, 0.8);
  -webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
       -o-transition: all 200ms ease;
          transition: all 200ms ease;
}
.audio-controls.hidden {
  opacity: 0;
}
.audio-controls:hover,
.audio-controls.hidden:hover {
  opacity: 1;
}


.audio-controls svg {
  width: 120px;
  height: 120px;
}
.audio-controls svg.hidden {
  display: none;
}

.audio-controls svg path {
  fill: #444;
}




/*  oscilloscope  */

.oscilloscope {
  position: absolute;
  top: 215px;
  z-index: -1;
  width: 100%;
  left:0;
}

audio {
  opacity: 0;
}


.oscilloscope canvas {
  width: 100%;
  height: 300px;
}

@media (max-width: 460px) {
  .container-small {
  	top:-80px;
  }
  .oscilloscope {
    top:100px;
    width:145%;
    left:-55px;
  }
}

@media (max-width: 350px) {
  .oscilloscope {
    top: 120px;
  }
}




/*  track info  */

.track-info {
  position: relative;
  margin-bottom: 60px;
}


.track-info .track-name,
.track-info .track-artist {
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
}


.track-info .track-name {
  font-size: 1.6em;
}


.track-info .track-artist {
  font-size: 1.3em;
  margin-top: 12px;
  color: #777;
}




/*  volume  */


.volume {
  margin-bottom: 80px;
}

.volume .volume-bar {
  position: relative;
  width: 100%;
  height: 4px;
  margin-bottom: 15px;
  border-radius: 1px;
  background-color: none;
  border: 1px solid #A0FF5B;
}

.volume .volume-bar-percentage {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #A0FF5B;
  -webkit-transition: all 80ms ease;
     -moz-transition: all 80ms ease;
      -ms-transition: all 80ms ease;
       -o-transition: all 80ms ease;
          transition: all 80ms ease;
}

.volume.green .volume-bar {
  border: 1px solid #A0FF5B;
}
.volume.green .volume-bar-percentage {
  background-color: #A0FF5B;
}

.volume.yellow .volume-bar {
  border: 1px solid #DFE100;
}
.volume.yellow .volume-bar-percentage {
  background-color: #DFE100;
}

.volume.red .volume-bar {
  border: 1px solid #CA3432;
}
.volume.red .volume-bar-percentage {
  background-color: #CA3432;
}


.volume .volume-text {
  font-size: .94em;
  text-align: center;
  opacity: .5;
}

.volume .volume-text span {
  vertical-align: sub;
  margin-right: 8px;
}


@media (max-width: 555px) {
  .volume {
    display: none;
  }
}
footer {
  text-align: center;
  font-size: 0.7rem;
  color:#A1A1A1;
  padding: 0;
  margin:0;
  position: relative;
  top:-5.5em;
}

@media (max-width: 460px) {
  .login {
   margin: 50% auto 7% auto;
  }
  .logout {
    margin-right:-60px;
  }

  footer {
  	position:relative;
  	top:-150px;
  }
}